@font-face {
    font-family: Fugaz;
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}

@font-face {
    font-family: Montauk;
    src: url(../assets/fonts/Montauk-Light.otf);
}

body {
    background-image: url(../assets/images/bgtexture.jpg);
}

.hyperLink {
    text-decoration: none;
    color: #5F002B;
    font-size: 20px;
    font-family: Fugaz;
}

.homeHero {
    background-image: url(../assets/images/homeHero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.homeSingle {
    background-image: url(../assets/images/homeSingle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 16px;
}

.homeImage {
    background-image: url(../assets/images/HomeImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 185px;
}

.cateringHero {
    background-image: url(../assets/images/cateringHero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.cateringMaine {
    background-image: url(../assets/images/cateringMaine.jpg);
    background-repeat: no-repeat;
    margin-right: 10px;
    height: 365.5px;
    background-position: center;
    width: auto;
}

.catering1 {
    background-image: url(../assets/images/catering1.jpg);
    background-repeat: no-repeat;
    margin-right: 5px;
    height: 365.5px;
    background-position: center;
    width: auto;
}

.catering2 {
    background-image: url(../assets/images/catering2.jpg);
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
    height: 365.5px;
    background-position: center;
    width: auto;
}

.catering3 {
    background-image: url(../assets/images/catering3.jpg);
    background-repeat: no-repeat;
    height: 365.5px;
    background-position: center;
    width: auto;
    margin-left: 5px;
}

.whiteColor {
    background-color: #FFFFFF;
}

.burgundyColor {
    color: #5F002B;
}

.homeTitle {
    font-size: 50px;
    font-family: Fugaz;
}

.homeText {
    font-size: 19.4px;
    font-family: Montauk;
    line-height: 22px;
}

.marginHomeTop {
    margin-top: -20px;
}

.marginHomeLeft {
    margin-left: -50px;
}

.footerImg {
    height: 31.6px;
    width: 100px;
}

.marginFooter {
    margin-bottom: -12px;
}

.footerText {
    color: #5F002B;
    font-size: 20px;
    font-family: Montauk;
}

.aboutTxt {
    display: flex; 
    justify-content: space-evenly;
}

.aboutTeam {
    text-align: center;
}

.ourMenuFix {
    text-align: center;
    font-size: 50px;
    font-family: Fugaz;
}

.sandwichesImage {
    background-image: url(../assets/images/menubeef.jpg);
    background-repeat: no-repeat;
    height: 250px;
    width: auto;
    margin-right: 0px;
    background-position: center;
}

.seafoodImage {
    background-image: url(../assets/images/menuseafood.jpg);
    background-repeat: no-repeat;
    width: auto;
    height: 250px;
    margin-left: 0px;
    background-position: center;
}

.grillImage {
    background-image: url(../assets/images/menumeat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    margin-right: 0px;
    height: 250px;
}

.dessertsImage {
    background-image: url(../assets/images/menudesserts.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 250px;
    margin-left: 0px;
}

.marginLeftMenu {
    margin-left: 12px;
}

.marginRightMenu {
    margin-right: 12px;
}

.hrPixel {
    border-width: 2px;
}

.menuTitle {
    font-family: Fugaz;
    font-size: 30px;
}

.menuMinorText {
    font-family: Montauk;
    font-size: 20px;
}

.menuText {
    font-family: Montauk;
    font-size: 30px;
}

.marginTextMenu {
    margin-top: -25px;
    margin-bottom: -25px;
}

.marginSideMenu {
    padding-left: 30px;
    padding-right: 30px;
}

.cateringText{
    font-family: Montauk;
    font-size: 20px;
    line-height: 22px;
}

.marginSideCatering {
    padding-left: 40px;
    padding-right: 50px;
}

