@font-face {
    font-family: Fugaz;
    src: url(../assets/fonts/FugazOne-Regular.ttf);
}

@font-face {
    font-family: Montauk;
    src: url(../assets/fonts/Montauk-Light.otf);
}

body {
    background-image: url(../assets/images/bgtexture.jpg);
}

.hyperLink {
    text-decoration: none;
    color: #5F002B;
    font-size: 20px;
    font-family: Fugaz;
}

.homeHero {
    background-image: url(../assets/images/homeHero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.homeSingle {
    background-image: url(../assets/images/homeSingle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 16px;
}

.homeImage {
    background-image: url(../assets/images/HomeImage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 185px;
}

.cateringHero {
    background-image: url(../assets/images/cateringHero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.cateringMaine {
    background-image: url(../assets/images/cateringMaine.jpg);
    background-repeat: no-repeat;
    margin-right: 10px;
    background-position: center;
    width: auto;
}

.catering1 {
    background-image: url(../assets/images/catering1.jpg);
    background-repeat: no-repeat;
    margin-right: 10px;
    height: 365.5px;
    background-position: center;
    width: auto;
}

.catering2 {
    background-image: url(../assets/images/catering2.jpg);
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
    height: 365.5px;
    background-position: center;
    width: auto;
}

.catering3 {
    background-image: url(../assets/images/catering3.jpg);
    background-repeat: no-repeat;
    height: 365.5px;
    background-position: center;
    width: auto;
    margin-left: 10px;
}

.whiteColor {
    background-color: #FFFFFF;
}

.burgundyColor {
    color: #5F002B;
}

.homeTitle {
    font-size: 50px;
    font-family: Fugaz;
}

.homeText {
    font-size: 19.4px;
    font-family: Montauk;
    line-height: 22px;
}

.marginHomeTop {
    margin-top: -20px;
}

.marginHomeLeft {
    margin-left: -50px;
}

.footerImg {
    height: 31.6px;
    width: 100px;
}

.marginFooter {
    margin-bottom: -12px;
}

.footerText {
    color: #5F002B;
    font-size: 20px;
    font-family: Montauk;
}

.aboutFix {
    font-size: 50px;
    font-family: Fugaz;
    padding-left: 20px;
}

.aboutText {
    font-family: Montauk;
    font-size: 20.5px;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 50px;
    margin-bottom: -10px;
}

.aboutMain {
    background-image: url(../assets/images/AboutMain.jpg);
    background-repeat: no-repeat;
    width: auto;
    margin-right: 10px;
    background-position: center;
}

.sandwichesImage {
    background-image: url(../assets/images/menubeef.jpg);
    background-repeat: no-repeat;
    height: 250px;
    width: auto;
    margin-right: 0px;
    background-position: center;
}

.seafoodImage {
    background-image: url(../assets/images/menuseafood.jpg);
    background-repeat: no-repeat;
    width: auto;
    height: 250px;
    margin-left: 0px;
    background-position: center;
}

.grillImage {
    background-image: url(../assets/images/menumeat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    margin-right: 0px;
    height: 250px;
}

.dessertsImage {
    background-image: url(../assets/images/menudesserts.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 250px;
    margin-left: 0px;
}

.marginLeftMenu {
    margin-left: 12px;
}

.marginRightMenu {
    margin-right: 12px;
}

.hrPixel {
    border-width: 2px;
}

.menuTitle {
    font-family: Fugaz;
    font-size: 30px;
}

.titleSpace {
    padding-top: 15px;
}

.caterSpace {
    margin-bottom: -0px;
}

.menuMinorText {
    font-family: Montauk;
    font-size: 20px;
}

.menuText {
    font-family: Montauk;
    font-size: 30px;
}

.marginTextMenu {
    margin-top: -25px;
    margin-bottom: -25px;
}

.marginSideMenu {
    padding-left: 30px;
    padding-right: 30px;
}

.whiteBorder {
    border: white solid 10px;
}

.firstPhoto {
    background-image: url(../assets/images/photo01.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-right: 10px;
}

.secondPhoto {
    background-image: url(../assets/images/photo02.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-right: 5px;
    margin-left: 5px;
}

.thirdPhoto {
    background-image: url(../assets/images/photo03.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-right: 5px;
    margin-left: 5px;
}

.fourthPhoto {
    background-image: url(../assets/images/photo04.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-left: 10px;
}

.fifthPhoto {
    background-image: url(../assets/images/photo05.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-right: 10px;
}

.sixthPhoto {
    background-image: url(../assets/images/photo06.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-right: 5px;
    margin-left: 5px;
}

.seventhPhoto {
    background-image: url(../assets/images/photo07.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-right: 5px;
    margin-left: 5px;
}

.eighthPhoto {
    background-image: url(../assets/images/photo08.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-left: 10px;
}

.ninthPhoto {
    background-image: url(../assets/images/photo09.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-right: 10px;
}

.tenthPhoto {
    background-image: url(../assets/images/photo10.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-right: 5px;
    margin-left: 5px;
}

.eleventhPhoto {
    background-image: url(../assets/images/photo11.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-right: 5px;
    margin-left: 5px;
}

.twelthPhoto {
    background-image: url(../assets/images/photo12.jpg);
    background-repeat: no-repeat;
    height: 378px;
    width: auto;
    background-position: center;
    margin-left: 10px;
}

.cateringText {
    font-family: Montauk;
    font-size: 20px;
    line-height: 22px;
}

.marginSideCatering {
    padding-left: 40px;
    padding-right: 50px;
}

.aboutMarginLeft {
    margin-left: 10px;
}

.aboutMarginCenter {
    margin-left: 5px;
    margin-right: 5px;

}

.aboutMarginRight {
    margin-right: 10px;
}

.george {
    background-image: url(../assets/images/doxie3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 536px;
    margin-right: 10px;
}

.butterscotch {
    background-image: url(../assets/images/jackrussel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 536px;
    margin-right: 5px;
    margin-left: 5px;
}

.louie {
    background-image: url(../assets/images/doxie1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 536px;
    margin-left: 10px;
}

.willow {
    background-image: url(../assets/images/novascotia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 536px;
    margin-right: 10px;
    margin-top: 20px;
}

.skittles {
    background-image: url(../assets/images/doxie2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 536px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

.mario {
    background-image: url(../assets/images/staffie.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 536px;
    margin-left: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 576px) {
    .positionNav {
        display: flex;
        justify-content: center;
    }

    .george {
        margin-right: 0px;
    }

    .butterscotch {
        margin-right: 0px;
        margin-left: 0px;
    }

    .louie {
        margin-left: 0px;
    }

    .willow {
        margin-right: 0px;
        margin-top: 0px;
    }

    .skittles {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .mario {
        margin-left: 0px;
        margin-top: 0px;
    }

    .aboutMarginLeft {
        margin-left: 0px;
    }

    .aboutMarginRight {
        margin-right: 0px;
    }

    .aboutMarginCenter {
        margin-left: 0px;
        margin-right: 0px;
    }

    .homeHero {
        height: 200px;
    }

    .homeImage {
        height: 100px;
    }

    .marginHomeLeft {
        margin-left: 0px;
    }

    .marginSideMenu {
        height: auto;
    }

    .marginRightMenu {
        margin-right: 0px;
        margin-left: 0px;
    }

    .marginLeftMenu {
        margin-left: 0px;
        margin-right: 0px;
    }

    .sandwichesImage {
        margin-right: -12px;
    }

    .seafoodImage {
        margin-left: -12px;
    }

    .grillImage {
        margin-right: -12px;
    }

    .dessertsImage {
        margin-left: -12px;
    }

    .cateringHero {
        height: 200px;
    }

    .catering1 {
        width: 576px;
        margin-right: 0px;
    }

    .catering2 {
        width: 576px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .catering3 {
        width: 576px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .firstPhoto {
        width: 576px;
        margin-right: -12px;
    }
    
    .secondPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .thirdPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .fourthPhoto {
        width: 576px;
        margin-left: 0px;
    }
    
    .fifthPhoto {
        width: 576px;
        margin-right: -12px;
    }
    
    .sixthPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .seventhPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .eighthPhoto {
        width: 576px;
        margin-left: 0px;
    }
    
    .ninthPhoto {
        width: 576px;
        margin-right: -12px;
    }
    
    .tenthPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .eleventhPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .twelthPhoto {
        width: 576px;
        margin-left: 0px;
    }
}



@media (min-width: 768px) and (max-width: 1199px) {
    .positionNav {
        display: flex;
        justify-content: center;
    }

.col {
    display: flex;
    flex-wrap: wrap;
}

    .george {
       margin-right: 0px;
    }

    .butterscotch {
        margin-right: 0px;
        margin-left: 0px;
    }

    .louie {
        margin-left: 0px;
    }

    .willow {
        margin-right: 0px;
        margin-top: 0px;
    }

    .skittles {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .mario {
        margin-left: 0px;
        margin-top: 0px;
    }

    .aboutMarginLeft {
        margin-left: 0px;
    }

    .aboutMarginRight {
        margin-right: 0px;
    }

    .aboutMarginCenter {
        margin-left: 0px;
        margin-right: 0px;
    }

    .homeHero {
        height: 200px;
    }

    .homeImage {
        height: 100px;
    }

    .marginHomeLeft {
        margin-left: 0px;
    }

    .marginSideMenu {
        height: auto;
    }

    .marginRightMenu {
        margin-right: 0px;
        margin-left: 0px;
    }

    .marginLeftMenu {
        margin-left: 0px;
        margin-right: 0px;
    }

    .sandwichesImage {
        margin-right: -12px;
    }

    .seafoodImage {
        margin-left: -12px;
    }

    .grillImage {
        margin-right: -12px;
    }

    .dessertsImage {
        margin-left: -12px;
    }

    .cateringHero {
        height: 200px;
    }

    .catering1 {
        width: 576px;
        margin-right: 0px;
    }

    .catering2 {
        width: 576px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .catering3 {
        width: 576px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .firstPhoto {
        width: 576px;
        margin-right: -12px;
    }
    
    .secondPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .thirdPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .fourthPhoto {
        width: 576px;
        margin-left: 0px;
    }
    
    .fifthPhoto {
        width: 576px;
        margin-right: -12px;
    }
    
    .sixthPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .seventhPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .eighthPhoto {
        width: 576px;
        margin-left: 0px;
    }
    
    .ninthPhoto {
        width: 576px;
        margin-right: -12px;
    }
    
    .tenthPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .eleventhPhoto {
        width: 576px;
        margin-right: -6px;
        margin-left: 0px;
    }
    
    .twelthPhoto {
        width: 576px;
        margin-left: 0px;
    }
}